target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/test/**/taret/
!**/src/main/**/target/

### OS ###
/mysql/
**/volume-data/
/data/
/docker/tempo/tempo-data/**

### VS Code ###
.vscode/
**/mysql
**/data

### React ###
**/node_modules

# OS
.DS_Store
.env